/* ===================== */ /* FAVORITOS.HTML */ /* ===================== */

/* Contenedor principal */
.seccion-favoritos {
    padding: 70px;
    font-family: 'Poppins', sans-serif;
}

/* Título superior izquierdo */
.titulo-favoritos {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 100px; /* Espacio para que el contenido quede centrado */
}

/* Bloque central */
.contenido-vacio {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.contenido-vacio h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contenido-vacio p {
    color: #888;
    font-size: 14px;
    margin-bottom: 40px;
}

/* El botón granate de la captura */
.btn-explorar {
    background-color: #800000; 
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    transition: background 0.3s;
}

.btn-explorar:hover {
    background-color: #600000;
}

main {
    padding-bottom: 100px; 
}