html, body {
  height: 100%;
  font-family: Poppins;
}

:root {
  --header-height: 70px;
}

/*DETALLES PRENDA*/

/* MAIN GRID */
.container {
    margin-top: var(--header-height);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 80px;
  padding: 60px 80px;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 24px;
}

.main-image {
  width: 100%;
  max-width: 480px;
  border-radius: 4px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.thumbnails img {
  width: 90px;
  border-radius: 4px;
  cursor: pointer;
}

/* PRODUCT INFO */
.product-info {
  max-width: 420px;
}

.brand {
  font-size: 14px;
  letter-spacing: 1px;
}

.product-name {
  font-size: 24px;
  margin: 8px 0;
}

.price {
  font-size: 20px;
  margin: 12px 0 20px;
}

/* COLORES */
.colors {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.black { background: #2b2b2b; }
.green { background: #8cbf26; }
.blue  { background: #3b6cb7; }
.orange{ background: #e25b2a; }

.ref {
  font-size: 12px;
  color: #666;
  margin-bottom: 24px;
}

/* TALLAS */
.sizes {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.sizes button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.sizes .active {
  background: #7a1414;
  color: #fff;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.add-cart {
  flex: 1;
  background: #7a1414;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 30px;
  cursor: pointer;
}

.fav {
  width: 44px;
  border-radius: 50%;
  border: 1px solid #7a1414;
  background: transparent;
  cursor: pointer;
}

/* TABS */
.tabs {
  display: flex;
  gap: 24px;
  font-size: 14px;
  margin-bottom: 16px;
}

.tabs span {
  cursor: pointer;
  color: #888;
}

.tabs .active {
  color: #2b2b2b;
  font-weight: 600;
}

/* DESCRIPTION */
.description {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

/* RELATED */
.related {
  padding: 80px;
}

.related h3 {
  margin-bottom: 32px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.card {
  background: rgba(255,255,255,0.25);
  padding: 16px;
  border-radius: 12px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card h4 {
  font-size: 14px;
}

.card p {
  font-size: 12px;
  color: #666;
}

.card span {
  font-size: 14px;
  font-weight: 600;
}

.tab-content {
  margin-top: 16px;
}

.content {
  display: none;
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

.content.active {
  display: block;
}

/* ================= RESPONSIVE FONDO ================= */

@media (max-width: 1680px) {
  .preferences {
    background-position: 35% center;
  }
}

@media (max-width: 1440px) {
  .preferences {
    background-position: 30% center;
  }
}

@media (max-width: 1280px) {
  .preferences {
    background-position: 25% center;
  }
}